@charset "UTF-8";
/* 
em HTML é id = em CSS é #
em HTML é class = em CSS é . */

body{
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:  rgba(4, 109, 70, 0.87)
}
h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}
h2{
    color: rgb(51, 77, 49)
}
.basico{
color:  rgb(57, 124, 57);
font-weight: bold;
}
.intermediario{
    color:  rgb(124, 114, 57)
}
.avancado{
    color:  rgb(124, 78, 57)
}